# source_program
ASRCS = sys_id.src
SRCS = main.c

# area_code
# Only Japan
#OBJS_AREA = $(LIBDIR)/sys_arej.o
# Only America
#OBJS_AREA = $(LIBDIR)/sys_areu.o
# Only Europe
#OBJS_AREA = $(LIBDIR)/sys_aree.o
# World Wide
OBJS_AREA = $(LIBDIR)/sys_arej.o $(LIBDIR)/sys_aret.o \
		$(LIBDIR)/sys_areu.o $(LIBDIR)/sys_aree.o

# objects code
OBJS_CODE = $(LIBDIR)/sys_sec.o $(OBJS_AREA) $(LIBDIR)/sys_init.o

# ip objects
OBJS = $(ASRCS:.src=.o) $(OBJS_CODE) $(SRCS:.c=.o)

CLEAR_OBJS = $(ASRCS:.src=.o) $(SRCS:.c=.o)

LIBS = $(LIBDIR)/sega_sys.a $(LIBDIR)/sega_cdc.a
